<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lh.zksocketc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 清除屏保需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 唤醒屏幕需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/zkc_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/zkc_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZkSocketc"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.IcActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.AdminActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.SplashActivity"></activity>
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.BindActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.HomeActivity" />

        <receiver
            android:name=".ScreenOffAdminReceiver"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>